# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.suo
*.suo
*.ilk
*.tlog
*.pdb
*.db
*.idb
*.suo
PR01 - Ordenación topológica/.vs/PR01 - Ordenación topológica/v14/.suo
PR01 - Ordenación topológica/Debug/PR01 - Ordenación topológica.ilk
PR01 - Ordenación topológica/PR01 - Ordenación topológica.VC.db
